.btn {
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: #191970;
    color: red;
}

.jumbotron {
    background-color: #191970;
    color: red;
}

.col-md-10.description {
    border: 3px;
    border-style: solid;
    border-color: black;
    
}

.past {
    background-color: #C0C0C0;
}

.present {
    background-color: #00FF00;
}

.future {
    background-color: red;
}


